<%= form_with scope: :entry, url: entries_path, local: true do |form| %>
    <p>
        <%= form.label :site_name %><br>
        <%= form.text_field :site_name %>
    </p>
    <p>
        <%= form.label :user_name %><br>
        <%= form.text_field :user_name %><br>
    </p>
    <p>
        <%= form.label :password %><br>
        <%= form.text_field :password %><br>
    </p>

    <p>
        <%= form.submit %>
    </p>
<% end %>
